a{
	@include transition(all .5s ease);
	&:hover{
		text-decoration: none;
	}
}
h1,h2,h3,h4,h5,h6{
	
}

::-moz-selection{
  background-color: $primary-color;
  color: #FFF;
}
::-webkit-selection {
  background-color: $primary-color;
  color: #FFF;
}
::-o-selection{
  background-color: $primary-color;
  color: #FFF;
}
::selection {
  background-color: $primary-color;
  color: #FFF;
}