/*Fonts*/
$font-family: 			"sans-serif";
$title-family: 			"sans-serif";
$body-font-size:		16px;
$body-line-height:		24px;

/*Colors*/
$primary-color:		#fff;
$secondary-color:	#198f51;
$blue-color:		#27bbf1;
$title-color:		#252525;
$top-bar-bg:		#e9edd7;
$third-color:       #ffa502;
$bg-color:          #ececec;
$footer-bg:			#f3f3f3;
$footer-color:		#aaaaaa;
$body-color:		#212529;

$gray-dark:         #292b2c;
$gray:              #464a4c;
$gray-light:        #636c72 ;
$gray-lighter:      #eceeef;
$dark:				#000;


/*Social Colors*/
$facebook:	#3B5998;
$twitter:	#1DA1F2;
$linkedin:	#0E76A8;
$instagram:	#3F729B;
$youtube:	#C4302B;
$gplus:		#DD4B39;
$dribbble:	#ea4c89;
$whatsapp:	#2ab53f;

/*Screens*/
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xll-min: 1300px;

/*Import Fonts*/

