/*Fonts*/
/*Colors*/
/*Social Colors*/
/*Screens*/
/*Import Fonts*/
@import url("https://fonts.googleapis.com/css?family=Cairo|Nunito:400,800&amp;subset=arabic");
@import url("https://fonts.googleapis.com/css?family=El+Messiri|Kalam&amp;subset=arabic");
body {
  direction: rtl;
}

.float-right, .float-md-right {
  float: left !important;
}

.float-md-left, .float-left {
  float: right !important;
}

.dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

.dropdown-item {
  text-align: right !important;
}

.mr-3 {
  margin-left: 1rem !important;
}

.list-inline {
  padding-right: 0;
}

.list-inline-item:last-child {
  margin-right: 5px !important;
}

.list-unstyled {
  padding-right: 0;
}

/*Global*/
.breadcrumb-item {
  float: right !important;
}

input[type=radio], input[type=checkbox] {
  margin: 3px -16px 0 0 !important;
}

.pagination .page-item.active .page-link {
  margin-left: 0px;
  margin-right: 15px;
}
.pagination .page-item .page-link {
  margin-left: 0px;
  margin-right: 15px;
}

.scrollup {
  right: auto;
  left: 10px;
}

.banner-section .breadcrumb-item + .breadcrumb-item::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.latest-news .blognews .post-body {
  padding-left: 0px;
  padding-right: 20px;
}
.latest-news .blognews .post-body .post-item-date:before {
  left: auto;
  right: 50%;
}
.latest-news .blognews .post-body .post-item-date:after {
  left: auto;
  right: 50%;
  margin-left: 0px;
  margin-right: -7px;
}
.latest-news .blognews .post-body .post-info {
  margin-left: 0px;
  margin-right: 80px;
}
.latest-news .blognews .post-body .post-info .post-meta span {
  margin-right: 0px;
  margin-left: 15px;
}

.blog-post .post_single .post-content .post_info_wrap i {
  margin-right: 0px;
  margin-left: 5px;
}
.blog-post .post_single .post-content .post_info_wrap .date, .blog-post .post_single .post-content .post_info_wrap .posted-by {
  margin-right: 0px;
  margin-left: 25px;
}

.counter .counter-icon {
  left: auto;
  right: 0;
}
.counter .counter-content {
  padding-left: 0px;
  padding-right: 65px;
}

.footer:before, .footer:after {
  left: auto;
  right: 0px;
}
.footer .widget-footer .widget-title:after {
  left: auto;
  right: 0;
}
.footer .widget-footer .impo-links a {
  padding-left: 0px;
  padding-right: 15px;
}
.footer .widget-footer .impo-links a:before {
  left: auto;
  right: 0;
  padding-right: 0px;
  padding-left: 15px;
}
.footer .widget-footer .address li i {
  padding-right: 0px;
  padding-left: 5px;
}
.footer .social-media span {
  margin-right: 0px;
  margin-left: 5px;
}
.footer .social-media li:not(:last-child) {
  margin-right: 0px;
  margin-left: 5px;
}

header .top-bar ul.list-inline .list-inline-item:not(:last-child) {
  margin-right: 0px;
  margin-left: 10px;
  border-right: none;
  border-left: 1px solid #e2e1e1;
}
header .header-topSection ul {
  float: left;
}
header .header-topSection ul li .info-wrapper {
  margin-right: 0px;
  margin-left: 5px;
}
header .header-topSection ul li .info-wrapper i, header .header-topSection ul li .info-wrapper img {
  padding-right: 0px;
  padding-left: 4px;
}
header .navigation .navbar {
  padding: 0.8rem 1rem;
}
header .navigation .navbar .navbar-nav {
  margin-left: initial;
  margin-right: auto;
}

@media (min-width: 768px) {
  header .header-topSection ul .info-wrapper {
    margin-right: 0px;
    margin-left: 5px;
  }
  header .header-topSection ul .info-icon i {
    padding-right: 0px;
    padding-left: 4px;
  }
}
@media (min-width: 992px) {
  header .header-topSection ul .info-wrapper {
    margin-right: 0;
    margin-left: 10px;
  }
  header .header-topSection ul .info-icon i {
    padding-right: 0px;
    padding-left: 10px;
  }
  header .dropdown-menu .dropdown-item {
    text-align: right !important;
  }
  header .dropdown-menu:before {
    left: auto;
    right: 25%;
    margin-left: 0px;
    margin-right: -5px;
  }
}
.services .ch-thumb:after {
  left: auto;
  right: 95%;
  margin: -4px -4px 0 0px;
}
.services .ch-thumb {
  -webkit-transform-origin: 95% 40% 0;
  -moz-transform-origin: 95% 40% 0;
  -o-transform-origin: 95% 40% 0;
  -ms-transform-origin: 95% 40% 0;
  transform-origin: 95% 40% 0;
}
.services .services-ch > p {
  margin: 15px 0;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.services .services-ch > p a {
  color: #2f2c2c;
}

.portfolio .button-work .btn {
  margin: 10px 8px 0 0px;
}
.portfolio .button-work .btn:last-child {
  margin-left: 0px;
}

.account-page .nav-pills .nav-link {
  margin-right: 0px;
  margin-left: 15px;
}

.contact-page .container {
  padding: 30px 60px 30px 30px;
}
.contact-page .area-address .single-address .hotline-icon {
  float: right !important;
}
.contact-page .area-address .single-address .hotline-content {
  float: right !important;
}

@media (min-width: 992px) {
  .contact-page .area-address .single-address .hotline-content {
    float: right !important;
  }
}
.login .content-login .form-group label {
  text-align: right;
}

/*# sourceMappingURL=style-rtl.css.map */
