.form-contact{
    
    .form-contat-move-up{
        margin-top: -50px;
        background-color: white;
        padding: 10%;
        box-shadow: 0 10px 25px #616161;
        margin-bottom: 100px;
        border-top: 5px solid $primary-color;
    }
    .form-contact-title{
        color: $primary-color;
        text-align: left;
        text-transform: uppercase;
        font-family: $font-family;
    }
    .form-contact-text{
        color: #616161;
    }
}

.form-inner{
    margin-top: 50px;
    .main-btn{
        margin-top: 50px;
    }
}

.form-control{
    border:none;
    border-bottom: 1px solid #d0cdcd !important;
    resize: none;
    border-radius: 0;
    padding-left: 0;
    text-transform: capitalize;
    color: #616161;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 30px;
	&:focus{
            // border-color: $secondary-color;
            border: none;
	}
}
.form-comment{
	.form-control{
        border:none;
        border-bottom: 1px solid #616161 !important;
        border-radius: 0;
        &:focus{
            border:none;
        }
    }
}
.contact{
	padding: 70px 0;
}